.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.image {
  overflow: visible;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar {
  position: relative;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  border: 0px none #000;
  background-color: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.17);
  opacity: 1;
  color: #fff;
}

.container {
  position: static;
  display: block;
  margin-right: 100px;
  margin-left: 100px;
  padding-right: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block {
  padding-top: 20px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-weight: 200;
}

.heading {
  overflow: visible;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-align: center;
}

.div-block {
  width: 80px;
  margin: 10px auto 0px;
  padding-top: 10px;
  border-bottom: 4px solid #4b6e9c;
}

.get-to-know {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.biography {
  position: static;
  display: inline-block;
  width: 450px;
  margin-left: 10px;
  padding-top: 10px;
  text-align: left;
  -o-object-fit: none;
  object-fit: none;
}

.div-block-2 {
  padding-left: 0px;
}

.image-2 {
  padding-bottom: 0px;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bio-header {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.section {
  display: block;
  overflow: visible;
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -o-object-fit: cover;
  object-fit: cover;
}

.section.clients {
  margin-top: 20px;
  background-color: #f7f7f7;
  background-image: linear-gradient(148deg, rgba(248, 199, 199, 0.5), #fff5f5);
}

.section.cover {
  padding-bottom: 60px;
  background-color: #f7f7f7;
}

.section.portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

.div-block-3 {
  display: inline-block;
  width: 450px;
  margin-top: 0px;
  margin-left: 0px;
}

.facebook {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  line-height: 15px;
}

.twitter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 1px;
  line-height: 15px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 0px;
  padding: 10px 25px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #7ab8ca;
  font-family: Poppins, sans-serif;
  text-align: center;
}

.button.cv-button {
  width: 150px;
  background-color: #7ab8ca;
}

.div-block-5 {
  border-style: none;
  border-width: 1px;
  border-color: #4345a3;
}

.text-block-2 {
  padding-right: 5px;
  padding-left: 10px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Fa brands 400', sans-serif;
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.grid {
  width: 800px;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  grid-auto-flow: row;
  grid-template-areas: "Area-left";
  -ms-grid-rows: auto 24px;
  grid-template-rows: auto 24px;
  border-radius: 15px;
  background-color: #4e2727;
  box-shadow: 1px 1px 3px 0 #2e0b0b;
  opacity: 1;
  color: #1f1515;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-2 {
  width: auto;
  margin-right: 100px;
  margin-left: 100px;
  grid-auto-rows: minmax(auto, 0.25fr);
  grid-column-gap: 21px;
  grid-row-gap: 18px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 21px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-6 {
  padding-bottom: 40px;
  border-left: 3px none #fff;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
  object-fit: cover;
}

.text-block-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  color: #585858;
  font-size: 12px;
  font-style: normal;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #0a0a0a;
  font-size: 20px;
  font-weight: 400;
}

.text-block-5 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 10px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 30px;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  border-left: 1px none #009e66;
  font-family: 'Fa solid 900', sans-serif;
  color: #e2cf3e;
  font-size: 30px;
  text-align: left;
}

.text-block-6 {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 0px solid #009e66;
  font-family: 'Fa solid 900', sans-serif;
  color: #5ea3e7;
  font-size: 30px;
}

.heading-3 {
  width: auto;
  clear: none;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.container-4 {
  margin-top: 40px;
  margin-bottom: 40px;
  clear: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-3 {
  width: 1000px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-template-areas: "Area-2 Area";
  -ms-grid-columns: 1fr 20px 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item {
  font-size: 12px;
}

.list-item-2 {
  font-size: 12px;
}

.list-item-3 {
  font-size: 12px;
}

.list {
  margin-bottom: 30px;
  padding-right: 20px;
}

.text-block-8 {
  padding-bottom: 0px;
  padding-left: 20px;
  font-size: 12px;
  font-style: italic;
}

.container-6 {
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.grid-4 {
  margin-bottom: 40px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-9"
    "Area-3 Area-4"
    "Area-5 Area-6"
    "Area-2 Area-10"
    "Area-7 Area-8";
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto;
}

.div-block-9 {
  border-left: 3px solid #009e66;
  background-color: #f7f7f7;
  color: #000;
}

.heading-5 {
  margin-bottom: 0px;
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.heading-6 {
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.heading-7 {
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.heading-8 {
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.heading-9 {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.heading-10 {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.heading-11 {
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.heading-12 {
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.text-block-9 {
  padding-right: 20px;
  padding-left: 20px;
  font-style: italic;
}

.text-block-10 {
  padding-right: 20px;
  padding-left: 20px;
  font-style: italic;
}

.text-block-11 {
  padding-right: 20px;
  padding-left: 20px;
  font-style: italic;
}

.text-block-12 {
  padding-right: 20px;
  padding-left: 20px;
  font-style: italic;
}

.text-block-13 {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  font-style: italic;
}

.text-block-14 {
  padding-right: 20px;
  padding-left: 20px;
  font-style: italic;
}

.text-block-15 {
  font-style: normal;
}

.italic-text {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-style: normal;
}

.list-2 {
  margin-bottom: 40px;
  padding-right: 40px;
}

.list-3 {
  padding-right: 40px;
}

.list-4 {
  margin-bottom: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.list-5 {
  margin-bottom: 40px;
  padding-right: 40px;
}

.list-6 {
  margin-bottom: 40px;
  padding-right: 40px;
}

.contact-form {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ". ."
    "Area ."
    "Area-2 Area-2";
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 20px auto 20px auto;
  grid-template-rows: auto auto auto;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 18px;
  background-color: #7ab8ca;
}

.text-field {
  border: 1px none #000;
  background-color: #fff;
}

.text-field-2 {
  border: 1px none #000;
  background-color: #fff;
}

.text-field-3 {
  border: 1px none #000;
  background-color: #fff;
}

.text-field-4 {
  border: 1px none #000;
  background-color: #f8f8f8;
}

.textarea {
  border: 1px none #000;
  background-color: #fff;
}

.tabs {
  -o-object-fit: fill;
  object-fit: fill;
}

.tabs-menu {
  background-color: #b84e4e;
  color: #eb7676;
}

.grid-5 {
  width: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  grid-template-areas: "Area Area-2";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-5.yellow {
  padding-top: 40px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-block-10 {
  background-color: #df3434;
}

.div-block-11 {
  width: auto;
  height: auto;
  background-color: #fff;
}

.div-block-11.travelally {
  background-color: #fdce27;
}

.list-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item-4 {
  padding-right: 47px;
}

.grid-6 {
  margin: 40px 100px 20px;
  grid-template-areas: "Area Area-2 Area-3 Area-4"
    "Area-5 Area-6 Area-7 Area-8";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-3 {
  width: 70px;
  height: auto;
}

.image-4 {
  width: 100px;
}

.image-5 {
  width: 200px;
}

.image-6 {
  width: 150px;
}

.image-7 {
  width: 250px;
}

.image-8 {
  width: 250px;
}

.image-9 {
  display: block;
  width: 150px;
  text-align: left;
}

.image-10 {
  width: 200px;
}

.section-3 {
  margin-top: 60px;
}

.heading-13 {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.section-4 {
  background-color: rgba(255, 255, 255, 0.53);
}

.section-5 {
  display: block;
  padding-top: 0px;
  padding-bottom: 40px;
}

.container-7 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  color: #000;
}

.nav-link-2 {
  color: #000;
}

.nav-link-3 {
  color: #000;
}

.nav-link-4 {
  color: #927777;
}

.nav-link-4.w--current {
  background-color: #fff;
  opacity: 1;
  font-family: Poppins, sans-serif;
  color: #000;
}

.section-6 {
  background-color: #fff;
}

.heading-14 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.image-11 {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.image-12 {
  width: auto;
}

.nav-link-4-no-opacity {
  color: #927777;
}

.nav-link-4-no-opacity.w--current {
  background-color: #fff;
  opacity: 1;
  font-family: Poppins, sans-serif;
  color: #000;
}

.section-7 {
  margin-top: 40px;
  margin-bottom: 0px;
}

.div-block-12 {
  background-color: #fff;
}

.div-block-12.portfolio-idletime {
  background-color: #c6cfe7;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.form-block {
  width: 500px;
}

.heading-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-container {
  position: static;
  display: block;
  margin-right: 0px;
  margin-left: 100px;
  padding-right: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.nav-menu {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navbar-2 {
  background-color: #fff;
  box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.1);
}

.nav-link-5 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.nav-link-6 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.text-block-16 {
  display: block;
  padding-bottom: 40px;
  clear: none;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.project-details-div {
  padding-top: 90px;
  padding-right: 35px;
  text-align: right;
}

.project-type {
  display: block;
  padding-right: 0px;
  padding-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.project-summary {
  width: 500px;
  padding-left: 40px;
}

.section-title.left-justified {
  margin-bottom: 40px;
}

.image-13 {
  margin-top: 20px;
  margin-bottom: 20px;
  float: none;
  text-align: center;
}

.container-body {
  position: static;
  display: block;
  margin-right: 100px;
  margin-left: 100px;
  padding-right: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-body.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-16 {
  background-color: #000;
  text-align: center;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .navbar {
    width: auto;
  }

  .container {
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .container.horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
  }

  .div-block {
    width: 60px;
    padding-top: 10px;
    border-bottom-color: #289bd5;
  }

  .get-to-know {
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .biography {
    position: static;
    display: block;
    width: 400px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    clear: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .div-block-2 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    margin-left: 0px;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .image-2 {
    position: static;
    display: block;
    padding-bottom: 0px;
    float: left;
  }

  .container-2 {
    max-width: 750px;
  }

  .container-3 {
    max-width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bio-header {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .div-block-3 {
    width: 450px;
    margin-left: 0px;
  }

  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .button {
    margin-left: 10px;
    padding-left: 15px;
  }

  .text-block-2 {
    position: static;
    clear: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .grid-2 {
    margin-right: 40px;
    margin-left: 40px;
  }

  .div-block-6 {
    background-color: #f7f7f7;
  }

  .text-block-3 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
  }

  .heading-2 {
    padding-right: 20px;
    padding-left: 20px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  .text-block-5 {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 30px;
    font-family: 'Fa solid 900', sans-serif;
    color: #009e66;
    font-size: 30px;
  }

  .text-block-6 {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Fa solid 900', sans-serif;
    color: #009e66;
    font-size: 30px;
  }

  .grid-3 {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    grid-column-gap: 25px;
    grid-template-areas: "Area-2 Area";
    -ms-grid-columns: 1fr 25px 0.25fr;
    grid-template-columns: 1fr 0.25fr;
  }

  .list-3 {
    margin-bottom: 40px;
  }

  .list-6 {
    margin-bottom: 40px;
  }

  .contact-form-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .contact-form-grid.mobile {
    width: 400px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    justify-items: stretch;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .grid-5 {
    width: auto;
    grid-template-areas: "Area"
      "Area-4"
      "Area-5"
      "Area-7";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .grid-6 {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
    grid-template-areas: "Area Area-2 Area-3"
      "Area-5 Area-6 Area-7"
      "Area-9 Area-10 Area-11";
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .image-3 {
    width: 70px;
  }

  .image-4 {
    width: 90px;
  }

  .image-5 {
    width: 150px;
  }

  .image-7 {
    width: 200px;
  }

  .image-9 {
    width: 150px;
  }

  .image-10 {
    width: 150px;
  }

  .form-block {
    width: 400px;
  }

  .container-container {
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .form {
    width: 400px;
  }

  .project-details-div {
    padding-top: 0px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .project-summary {
    width: auto;
    padding-left: 0px;
  }

  .image-13 {
    margin-top: 20px;
  }

  .container-body {
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .container-body.horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .biography {
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Poppins, sans-serif;
  }

  .div-block-2 {
    display: block;
    width: 400px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-2 {
    display: block;
    width: 340px;
    margin-top: 29px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    text-align: center;
  }

  .bio-header {
    position: static;
    display: block;
    width: 400px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    float: left;
    clear: none;
    text-align: center;
  }

  .section {
    margin: 0px 20px 20px;
  }

  .section.clients {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .section.cover {
    margin-right: 0px;
    margin-left: 0px;
  }

  .div-block-3 {
    display: block;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-4 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column-gap: 18px;
    grid-template-areas: "Area ."
      "Area-12 Area-9";
    -ms-grid-columns: 1fr 18px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .div-block-6 {
    background-color: #f7f7f7;
  }

  .text-block-3 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 20px 10px;
    font-family: Poppins, sans-serif;
    color: #000;
    font-size: 12px;
  }

  .heading-2 {
    padding-right: 20px;
    padding-left: 20px;
    font-family: Poppins, sans-serif;
    color: #130f0f;
    font-size: 20px;
    font-weight: 400;
  }

  .text-block-4 {
    margin-top: 20px;
  }

  .text-block-5 {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 30px;
    font-family: 'Fa solid 900', sans-serif;
    color: #009e66;
    font-size: 30px;
  }

  .text-block-6 {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Fa solid 900', sans-serif;
    color: #009e66;
    font-size: 30px;
  }

  .heading-3 {
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 28px;
  }

  .text-block-7 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
  }

  .div-block-7 {
    margin: 20px 20px 0px;
  }

  .container-4 {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-3 {
    grid-column-gap: 4px;
    grid-template-areas: "."
      "Area";
    -ms-grid-columns: 2.5fr;
    grid-template-columns: 2.5fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-4 {
    grid-auto-columns: 0.25fr;
    grid-template-areas: "Area"
      "Area-3"
      "Area-5"
      "Area-2"
      "Area-7"
      "Area-8"
      "Area-9";
    -ms-grid-columns: 1.75fr;
    grid-template-columns: 1.75fr;
    -ms-grid-rows: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
  }

  .list-6 {
    margin-bottom: 40px;
  }

  .list-7 {
    margin-bottom: 40px;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .grid-6 {
    padding-right: 40px;
    padding-left: 40px;
    grid-column-gap: 20px;
    grid-template-areas: "Area Area-2"
      "Area-5 Area-6"
      "Area-9 Area-10"
      "Area-12 Area-13";
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 67px auto auto auto;
    grid-template-rows: 67px auto auto auto;
  }

  .section-5 {
    padding-bottom: 40px;
  }

  .container-9.mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container-container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .div-block-13 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-title.left-justified {
    font-size: 30px;
  }

  .image-13 {
    margin-top: 20px;
  }

  .container-body {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 19px;
    line-height: 24px;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .get-to-know {
    margin-top: 20px;
  }

  .biography {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }

  .div-block-2 {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    float: none;
    clear: none;
    text-align: left;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .image-2 {
    position: static;
    width: 300px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    float: none;
    text-align: left;
  }

  .container-3 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .bio-header {
    position: static;
    display: block;
    width: 250px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .section {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section.clients {
    margin-bottom: 0px;
  }

  .div-block-3 {
    width: 300px;
  }

  .button {
    margin-left: 0px;
  }

  .grid-2 {
    margin-right: 20px;
    margin-left: 20px;
    grid-column-gap: 18px;
    grid-template-areas: "Area Area"
      "Area-4 Area-4";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .text-block-5 {
    text-align: left;
  }

  .container-4 {
    margin-bottom: 20px;
    text-align: center;
  }

  .grid-3.mobile {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .container-6 {
    overflow: hidden;
  }

  .heading-9 {
    padding-left: 10px;
  }

  .heading-10 {
    padding-left: 10px;
  }

  .list-6 {
    margin-bottom: 40px;
  }

  .list-7 {
    margin-bottom: 40px;
  }

  .contact-form {
    float: left;
  }

  .contact-form.mobile {
    float: none;
    clear: none;
  }

  .contact-form-grid.real-mobile {
    display: -ms-grid;
    display: grid;
    width: 300px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .submit-button {
    display: block;
    clear: none;
    text-align: left;
  }

  .grid-6 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    grid-column-gap: 24px;
    -ms-grid-columns: 0.75fr 0.75fr;
    grid-template-columns: 0.75fr 0.75fr;
  }

  .section-5 {
    padding-bottom: 20px;
  }

  .container-9.mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-block {
    width: 300px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .heading-15 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .div-block-13 {
    padding-left: 0px;
  }

  .div-block-14 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-title.left-justified {
    font-size: 25px;
  }

  .image-13 {
    margin-top: 20px;
  }
}

#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be127-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
}

.grid-3>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-4>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contact-form-grid>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-5>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-6>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-3>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-4>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contact-form-grid>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-5>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-6>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_76d7d6f3-70cc-4177-c4df-baca6d80a6e5-91d49832 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  grid-area: Area;
}

.grid-3>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-4>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contact-form-grid>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-5>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-6>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-_8d4f6e31-b93a-aeeb-ecdc-175dc7f51760-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0c99357e-cb7c-5eae-f90c-3c25b525fd18-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e54fcdf8-7d8d-982d-e9d4-e07b586b5490-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-fa976164-b309-dec9-e473-7bdff4a21dcb-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_819f536a-9909-e6ef-95a4-4e6dc1465b0b-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_46b40397-c0a2-5e39-24cf-59809a2176d8-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a049fcf0-39dd-ae8f-8cd3-e66f4b0f9d25-91d49832 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.grid-3>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-4>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contact-form-grid>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-5>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-6>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-fba20c0e-ad55-5c6f-253c-d146fb9bd77f-a75916cf {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-fba20c0e-ad55-5c6f-253c-d146fb9bd783-a75916cf {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_425e3c3c-9ecc-0ab9-345e-9f37b49738f1-a75916cf {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area-2;
}

.grid-4>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.contact-form-grid>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.grid-5>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}

.grid-6>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}

@media screen and (max-width: 991px) {
  .grid-3>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid-5>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid-5>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid-5>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid-5>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .grid-6>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid-4>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid-4>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid-4>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-3>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid-4>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-6>#w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-4>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .grid-6>#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-f1d60a63 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7656264e-9e8f-2e05-94e7-3c78f21be128-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-f9836662-8b1e-214b-340e-2647176e0c73-91d49832 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #w-node-d07d341c-f275-9621-e04d-4bbab90ed5c9-a75916cf {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

#w-node-c792f166-ddd7-143d-f11f-d4408e9e1ead-006c797d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_5021b9a6-7869-a319-76b0-9bad7c16ff83-006c797d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e462b221-9adf-8c08-ad78-b94c1083b333-006c797d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cd41b5d0-b78d-d60d-0ece-d65b6b719eb9-006c797d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2ad40caf-fc4f-ff44-e186-85888f49525a-006c797d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_7656264e-9e8f-2e05-94e7-3c78f21be127-91d49832 {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_7656264e-9e8f-2e05-94e7-3c78f21be127-91d49832 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_76d7d6f3-70cc-4177-c4df-baca6d80a6e5-91d49832 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_01420b14-f34d-2043-5815-3c52d18c4c49-91d49832 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_76d7d6f3-70cc-4177-c4df-baca6d80a6e5-91d49832 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-fba20c0e-ad55-5c6f-253c-d146fb9bd777-a75916cf {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-fba20c0e-ad55-5c6f-253c-d146fb9bd77b-a75916cf {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-fba20c0e-ad55-5c6f-253c-d146fb9bd77f-a75916cf {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_425e3c3c-9ecc-0ab9-345e-9f37b49738f1-a75916cf {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}